stages:
  - test
  - report

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"
  CYPRESS_CACHE_FOLDER: "$CI_PROJECT_DIR/cache/Cypress"

cache:
  paths:
    - .npm
    - cache/Cypress
    - node_modules

.test_template: &test_definition
  stage: test
  image: cypress/browsers:latest
  before_script:
    - npm ci
  artifacts:
    when: always
    paths:
      - cypress/screenshots
      - cypress/videos
      - cypress/reports
    expire_in: 1 week
    reports:
      junit:
        - cypress/reports/results.xml

test:chrome:
  <<: *test_definition
  script:
    - npx cypress run --browser chrome --config-file cypress.config.ts

test:firefox:
  <<: *test_definition
  script:
    - npx cypress run --browser firefox --config-file cypress.config.ts

test:edge:
  <<: *test_definition
  script:
    - npx cypress run --browser edge --config-file cypress.config.ts

pages:
  stage: report
  dependencies:
    - test:chrome
    - test:firefox
    - test:edge
  script:
    - mkdir -p public
    - cp -r cypress/reports/* public/
  artifacts:
    paths:
      - public
  only:
    - main
