# Azure DevOps Pipeline for Cypress Tests

trigger:
  branches:
    include:
      - main
      - develop

pr:
  branches:
    include:
      - main
      - develop

schedules:
  - cron: "0 2 * * *"
    displayName: Daily test run
    branches:
      include:
        - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm
  CYPRESS_CACHE_FOLDER: $(Pipeline.Workspace)/cache/Cypress

stages:
  - stage: Test
    displayName: 'Run Cypress Tests'
    jobs:
      - job: ChromeTests
        displayName: 'Chrome Browser Tests'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Install Node.js'

          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)"
              path: $(npm_config_cache)
            displayName: 'Cache npm'

          - task: Cache@2
            inputs:
              key: 'cypress | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                cypress | "$(Agent.OS)"
              path: $(CYPRESS_CACHE_FOLDER)
            displayName: 'Cache Cypress'

          - script: npm ci
            displayName: 'Install dependencies'

          - script: npx cypress run --browser chrome
            displayName: 'Run Chrome tests'
            continueOnError: true

          - task: PublishTestResults@2
            condition: always()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: 'cypress/reports/results.xml'
              testRunTitle: 'Cypress Chrome Tests'

          - task: PublishPipelineArtifact@1
            condition: always()
            inputs:
              targetPath: 'cypress/screenshots'
              artifact: 'cypress-screenshots-chrome'
              publishLocation: 'pipeline'

          - task: PublishPipelineArtifact@1
            condition: always()
            inputs:
              targetPath: 'cypress/videos'
              artifact: 'cypress-videos-chrome'
              publishLocation: 'pipeline'

      - job: FirefoxTests
        displayName: 'Firefox Browser Tests'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
            displayName: 'Install Node.js'

          - script: npm ci
            displayName: 'Install dependencies'

          - script: npx cypress run --browser firefox
            displayName: 'Run Firefox tests'
            continueOnError: true

          - task: PublishTestResults@2
            condition: always()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: 'cypress/reports/results.xml'
              testRunTitle: 'Cypress Firefox Tests'

          - task: PublishPipelineArtifact@1
            condition: always()
            inputs:
              targetPath: 'cypress/reports'
              artifact: 'cypress-reports-firefox'
              publishLocation: 'pipeline'
